<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Welcome to <i> Zomato </i> website</h4>
      <div>
        <%= link_to 'menu list', menus_path %><br>
        <%= link_to 'user', user_path(current_user)%>
      </div>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out" style="margin-left: 120px;"></i> Log Out
      <% end %>
    </article>
  </div>
</div>
